<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="limpar()"slot="end">
      C
    </ion-button>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-item>
      <ion-label position="floating">Valor 1</ion-label>
      <ion-input type="number" [(ngModel)]="valorUm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor 2</ion-label>
      <ion-input type="number" [(ngModel)]="valorDois"></ion-input>
    </ion-item>

  </ion-card>

  <ion-item>
    <ion-button (click)="somar()" size="large">+</ion-button>
    <ion-button (click)="subtrair()" size="large">-</ion-button>
    <ion-button (click)="multiplicar()" size="large">*</ion-button>
    <ion-button (click)="dividir()" size="large">/</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="maior()" size="large">Maior</ion-button>
    <ion-button (click)="menor()" size="large">Menor</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Resultado: </ion-label>
    <ion-label>{{resultado}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Conta: </ion-label>
    <ion-label>{{conta}}</ion-label>
  </ion-item>
</ion-content>
